<style>
    #tabMenu {
        background:#000000;
        margin:0 0 0 0;
        padding:10px 0 0 0;
    }
    ul.topnav {
        margin:0;
        padding:0;
        list-style:none;
        border:#000;
    }
    ul.topnav li {
        margin:0;
        padding:0;
        list-style:none;
        display:inline;
    }
    ul.topnav li a {
        padding:5px;
        text-decoration:none;
        color:#FFF;
    }
    ul.topnav li a:hover {
        color:#3e3a3a
    }
</style>

    <center>
        <div id="tabMenu">
            <ul class="topnav">
                <li><a href="#home">Home</a></li>
                <li><a href="#registration">Registration</a></li>
                <li><a href="#program">Program</a></li>
                <li><a href="#student">Student Mentors</a></li>
                <li><a href="#speakers">Speakers</a></li>
                <li><a href="#testimonies">Testimonies</a></li>
                <li><a href="#picture">Photo Gallery</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact Us</a></li>
            </ul>
        </div>
</center>

