<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Contact Us</h2><br><br>
						</header>
						<section class="wrapper style5">
							<div class="inner">
								<h3>Contact Us</h3>
                                
                                <p><span class="image left"><img src="https://bcme.sjsu.edu/files/public/styles/mugshot/public/richard_picture.jpg?itok=MTije-au" width="100px" alt="" /></span>For more information, please contact <b>Dr. Richard Chung, SSV Director</b>.<br>
                                    E-Mail: summer-sv@sjsu.edu</p><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
							</div>
						</section>
					</article>
			</div>