
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>SSV 2015 Photo Gallery</h2><br><br>
						</header>
						<section class="wrapper style5">
							<div class="inner">
                                
                                <a style="border-bottom: dotted 1px;" href="#picture">SSV 2016 Photo Gallery</a><br><br>
                                <h3>Awards Ceremony</h3>
                                <section>
                                <div>
                                  <a class="example-image-link" href="images/IMG_6077.JPG" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/IMG_6077.JPG" width=300px alt=""/></a>
                                  <a class="example-image-link" href="images/IMG_6089.JPG" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="images/IMG_6089.JPG" width=300px alt="" /></a>
                                  <a class="example-image-link" href="images/IMG_6102.JPG" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="images/IMG_6102.JPG" width=300px alt="" /></a>
                                  <a class="example-image-link" href="images/IMG_6100.JPG" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="images/IMG_6100.JPG"  width="300px" alt="" /></a>
                                <a class="example-image-link" href="images/IMG_6112.JPG" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="images/IMG_6112.JPG" width=300px alt=""/></a>
                                  <a class="example-image-link" href="images/IMG_6128.JPG" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="images/IMG_6128.JPG" width=300px alt="" /></a>
                                  <a class="example-image-link" href="images/IMG_6144.JPG" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="images/IMG_6144.JPG" width=300px alt="" /></a>
                                  <a class="example-image-link" href="images/IMG_6190.JPG" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="images/IMG_6190.JPG"  width="300px" alt="" /></a>
                                </div>
                              </section>  
                                
                                <hr>
                                
                                <h3>Cultural Trips</h3>
                                 <section>
                                <div>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
                                </div>
                              </section>  
                                
                                <hr>
                                
                                <h3>Field Trips</h3>
                                 <section>
                                <div>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
                                </div>
                              </section>  
                                
                                <hr>
                                
                                <h3>Miscellaneous</h3>
                                 <section>
                                <div>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
                                  <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
                                </div>
                              </section>
							</div>
						</section>
					</article>

			</div>