
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Registration</h2><br><br>
						</header>
						<section class="wrapper style5">
							<div class="inner">

								<h3>How to Participate?</h3>
                                <ul>
                                    <li>Students must be over 18 years old, attend a recognized institution, and possess adequate English communication skills.</li>
                                    <li>Program cost is tentatively $4,000 per participant and $1500 for chaperones. Fees include tuition, board, meals, local transportation, field trips, and cultural trips.</li>
                                    <li>Participants will stay in SJSU dormitories with double-room, or triple-room accommodations.</li>
                                    <li>Participants must cover their own air fare and health insurance costs.</li>
                                    <li>International participants should seek advice from US Consolate, and for additional information please refer to U.S. Visas.</li>
                                    <li>Participants or sponsored universities must sign agreements with SJSU for terms and conditions prior to registration.</li>
                                    <li>The full payment is due on April 15th, 2016.</li>
                                    <li>The program registration is refundable only if the participant cannot obtain their visa to enter the United States, and the request for refund must be completed by May 15, 2016.</li>
                                    <li>No refunds will be issued after May 30, 2016.</li>
                                </ul>
                                <hr>
                                <center><h2>Application is <b>closed</b> for the Summer 2016 Program.</h2>
                                <p>Applications for the Summer 2017 Program will open in Fall 2016. Please check back during that time.</p></center>
                                
							</div>
						</section>
					</article>

			</div>