
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Speakers</h2><br><br>
						</header>
						<section class="wrapper style5">
                            <center><h3>2016 Speakers</h3></center>
                            <center><hr width=80%><h3>2015 Speakers</h3></center>
							<div class="inner">
                                <div style="float:right; margin-right:1cm">
                                    <div><img src="images/speaker2.jpg" width="400px" height="auto"></div><br>
                                    <div><img src="images/speaker.jpg" width="400px" height="auto"></div><br>
                                    <div><img src="images/speaker1.jpg" width="400px" height="auto"></div>
                                </div>                    
                                
								<h4>Keith Perry</h4>
								<p>Professor, San Jose State University <br>
                                Founder and Owner, BK Sales and Service</p>
                                <h4>Yankia Schneider</h4>
								<p>Polymer Scientist, Evans Analytical Group</p>
                                <h4>Shai Silberman</h4>
								<p>Professor, San Jose State University</p>
                                <h4>Craig England</h4>
								<p>Professor, San Jose State University</p>
                                <h4>Sarah McGregor</h4>
								<p>Director, International Gateways, San Jose State University</p>
                                <h4>Daniel Chafey</h4>
								<p>Professor, San Jose State University</p>
                                <h4>Robert Bigler</h4>
								<p>Founder, Animatics and Equalia </p>
                                <p>Inventor SmartMotor and HoverBoard</p>
                                <h4>Hazem Mahmoud</h4>
								<p>Operations Engineer, Coudera </p>
                                <h4>Darrell Erese</h4>
								<p>Undergraduate Student, San Jose State University </p>
							</div>
                            
						</section>
					</article>

			</div>