
		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Main -->
					<article id="main">
						<header>
							<h2>Student Mentors</h2><br><br>
						</header>
						<section class="wrapper style5">
							<div class="inner">
                                <div style="float:left"><img src="images/IMG_6216.JPG" width="450px"></div>
                                <div style="margin-left:13cm">
								<h3>Job Description</h3>
                                <ul>
                                    <li>Participate in a 3-week (end of July) summer program in the Silicon Valley.</li>
                                    <li>Mentor international students on engineering related projects.</li>
                                    <li>Chaperone field trips, cultural trips, and company tours.</li>
                                    <li>Deliver oral announcements and introductions for speakers.</li>
                                    <li>Approximately 20 hours of work per week and possible weekend work is included.</li>

                                    </ul></div><br>
							    <h3>Benefits</h3>
                                <ul>
                                    <li>Work on-campus.</li>
                                    <li>Network with engineering peers and international students.</li>
                                    <li>All program activities are included (i.e. cultural trips, field trips, etc).</li>
                                </ul>
                                <h3>Minimum Requirements</h3>
                                <ul>
                                    <li>Leadership abilities/takes initiative (Club/Organization officers).</li> 
                                    <li>Excellent interpersonal and communication skills.</li> 
                                    <li>GPA: 2.5 or higher.</li> 
                                    <li>Engineering majors (Junior or Senior standing).</li> 
                                </ul>
                                <h3>Preferred Requirements</h3>
                                <ul>
                                    <li>Possibility of working weekends.</li>
                                    <li>Lives close to campus.</li>
                                </ul>
                                <hr>
                                <center><h2>Application is <b>closed</b> for the Summer 2016 Program.</h2>
                                    <p>Applications for the Summer 2017 Program will open in Spring 2016. Please check back during that time.</p></center>
							</div>
						</section>
					</article>

			</div>